const webpack = require('webpack')

const cssVariables = require('./src/config/css-variables.js')
const postCSSAutoprefixer = require('autoprefixer')({ browsers: ['last 3 versions'] })
const postCSSCustomMedia = require('postcss-custom-media')({
  extensions: {
    '--sm-viewport': '(min-width:320px) and (max-width:640px)',
    '--md-viewport': '(min-width:640px) and (max-width:960px)',
    '--lg-viewport': '(min-width:960px)',
    '--retina-display': '(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)',
  },
})
const postCssImport = require('postcss-import')({
  addDependencyTo: webpack,
})
const postCSSColorFunction = require('postcss-color-function')()
const postCSSNested = require('postcss-nested')
const postCSSInlineSVG = require('postcss-inline-svg')()
const postCssCssVariables = require('postcss-css-variables')({
  variables: cssVariables,
})

module.exports = [
  postCssImport,
  postCSSAutoprefixer,
  postCSSNested,
  postCSSCustomMedia,
  postCssCssVariables,
  postCSSColorFunction,
  postCSSInlineSVG,
]
