.container {
  max-width: 300px;
  border: 1px solid var(--colors-gray);
  border-radius: 5px;
  padding: 30px;
  color: var(--colors-darkGray);
  text-align: center;
}

.name {
  font-size: 30px;
}

.date {
  font-size: 14px;
}
