.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px;
}

.item {
  flex-basis: calc(25% - 20px);
  align-self: center;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  min-height: 128px;
}

.userCreated {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(210, 210, 210, 0.75);
  height: 50px;
}

.crawler {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 155, 56, 0.92);
  height: 40px;
}

@keyframes crawlerFinished {
  0% {
    background: rgba(243, 155, 56, 0.92);
    height: 40px;
  }
  25% {
    background: green;
    font-size: inherit;
    height: 30px;
  }
  100% {
    font-size: 0;
    height: 0;
    opacity: 0;
    display: none;
  }
}

.crawlingDone {
  animation-name: crawlerFinished;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
